<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {
    "tagName":"main",
    "layout":{
        "type":"constrained"
    },
    "style":{
        "spacing":{
            "padding":{
                "top":"var:preset|spacing|54",
                "right":"var:preset|spacing|54",
                "bottom":"var:preset|spacing|54",
                "left":"var:preset|spacing|54"
            }
        }
    }
} -->
<main
    class="wp-block-group is-layout-constrained"
    style="
        padding-top: var(--wp--preset--spacing--54);
        padding-right: var(--wp--preset--spacing--54);
        padding-bottom: var(--wp--preset--spacing--54);
        padding-left: var(--wp--preset--spacing--54)
    "
>
    <!-- wp:group {
        "align":"wide",
        "layout":{
            "type":"constrained"
        },
        "style":{
            "spacing":{
                "padding":{
                    "top":"var:preset|spacing|54",
                    "right":"var:preset|spacing|54",
                    "bottom":"var:preset|spacing|54",
                    "left":"var:preset|spacing|54"
                }
            }
        },
        "className": "clearfix"
    } -->
	<div
        class="wp-block-group is-layout-constrained alignwide clearfix"
        style="
            padding-bottom: var(--wp--preset--spacing--54);
        "
    >
        <!-- wp:group {
            "className":"breakout-wide-only nudged-wide-only"
        } -->
        <div class="wp-block-group breakout-wide-only nudged-wide-only">
            <!-- wp:heading {
                "style":{
                    "typography":{
                        "letterSpacing":"0.02em"
                    }
                }
            } -->
            <h2 class="wp-block-heading" style="letter-spacing: 0.02em;">Tighter Spreads & Faster Execution</h2>
            <!-- /wp:heading -->
            <!-- wp:paragraph {
                "style":{
                    "typography":{
                        "fontStyle":"normal",
                        "fontWeight":"400",
                        "letterSpacing":"0.01em"
                    }
                },
                "fontSize":"x-large",
                "fontFamily":"dongle"
            } -->
            <p
                class="has-dongle-font-family has-x-large-font-size"
                style="
                    font-style:normal;
                    font-weight:400;
                    letter-spacing: 0.01em;
                "
            >With Forex Bros you trade with the best in the biz!
                With quality execution and some of the best
                trading conditions in the industry, your trading
                experience will be none other than epic.
            </p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:image {"width":"691", "height":"1074", "sizeSlug":"small"} -->
        <figure class="wp-block-image is-resized size-small alignright background-image">
            <img src="/wp-content/themes/red-acre-test-a-1/modules/theme/frontend/img/hero.png" alt="Hero"/>
        </figure>
        <!-- /wp:image -->
	</div>
	<!-- /wp:group -->

    <!-- wp:heading {
        "level":1,
        "textAlign":"center",
        "className":"alignwide",
        "style":{
            "typography":{
                "letterSpacing":"0.02em"
            },
            "spacing":{
                "padding":{
                    "top":"var:preset|spacing|18",
                    "bottom":"var:preset|spacing|18"
                }
            }
        }
    } -->
    <h1
        class="wp-block-heading has-text-align-center page-title alignwide"
        style="
            padding-top: var(--wp--preset--spacing--18);
            padding-bottom: var(--wp--preset--spacing--18);
            letter-spacing: 0.02em;
        "
    >Tools to Compliment<br>Your Trading</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph {
        "align":"center",
        "style":{
            "typography":{
                "fontStyle":"normal",
                "fontWeight":"500"
            }
        }
    } -->
    <p class="has-text-align-center" style="font-style:normal; font-weight:500">
        Access news & economic calendar, technical indicators & charts, Forex Calculators,
        educational resources and many more tools to help you excel.
    </p>
    <!-- /wp:paragraph -->

    <!-- wp:group {
        "align":"wide",
        "style":{"spacing":{"padding":{"top":"var:preset|spacing|27","bottom":"var:preset|spacing|27"}}},
        "layout":{
            "type":"flex",
            "flexWrap":"wrap",
            "justifyContent":"space-between",
            "verticalAlignment":"top"
        },
        "className":"flex-space-evenly"
    } -->
    <div
        class="wp-block-group alignwide flex-space-evenly"
        style="
            padding-top:var(--wp--preset--spacing--27);
            padding-bottom:var(--wp--preset--spacing--27)
    "
    >
        <!-- wp:group {
            "layout":{
                "type":"flex",
                "orientation":"vertical",
                "verticalAlignment":"space-between",
                "justifyContent":"center"
            },
            "style":{
                "spacing":{
                    "padding":{
                        "top":"var:preset|spacing|32",
                        "right":"var:preset|spacing|32",
                        "bottom":"var:preset|spacing|32",
                        "left":"var:preset|spacing|32"
                    }
                },
                "border":{
                    "radius":"24px",
                    "color":"#FFFFFF",
                    "width":"4px"
                },
                "layout":{
                    "selfStretch":"fixed",
                    "flexSize":"400px"
                }
            }
        } -->
        <div
            class="wp-block-group has-border-color"
            style="
                border-color:#FFFFFF;
                border-width:4px;
                border-radius:24px;
                padding-top: var(--wp--preset--spacing--32);
                padding-right: var(--wp--preset--spacing--32);
                padding-bottom: var(--wp--preset--spacing--32);
                padding-left: var(--wp--preset--spacing--32)
            "
        >
            <!-- wp:image {
                "sizeSlug":"large",
                "linkDestination":"custom"
            } -->
            <figure class="wp-block-image size-large"><a href="#"><img src="/wp-content/themes/red-acre-test-a-1/modules/theme/frontend/img/blob-cyan.png" alt="Economic Calendar"/></a></figure>
            <!-- /wp:image -->

            <!-- wp:heading {
                "level":3,
                "textAlign":"center",
                "textColor":"dark-blue",
                "style":{
                    "typography":{
                        "letterSpacing":"0.02em"
                    }
                }
            } -->
            <h3 class="wp-block-heading has-text-align-center has-dark-blue-color has-text-color" style="letter-spacing:0.02em">Economic Calendar</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"align":"center"} -->
            <p class="has-text-align-center">
                Access all major events & economic news that impact financial markets.
            </p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {
            "layout":{
                "type":"flex",
                "orientation":"vertical",
                "verticalAlignment":"space-between",
                "justifyContent":"center"
            },
            "style":{
                "spacing":{
                    "padding":{
                        "top":"var:preset|spacing|32",
                        "right":"var:preset|spacing|32",
                        "bottom":"var:preset|spacing|32",
                        "left":"var:preset|spacing|32"
                    }
                },
                "border":{
                    "radius":"24px",
                    "color":"#6371f4",
                    "width":"4px"
                },
                "layout":{
                    "selfStretch":"fixed",
                    "flexSize":"400px"
                }
            }
        } -->
        <div
            class="wp-block-group has-border-color"
            style="
                border-color:#6371f4;
                border-width:4px;
                border-radius:24px;
                padding-top:var(--wp--preset--spacing--32);
                padding-right:var(--wp--preset--spacing--32);
                padding-bottom:var(--wp--preset--spacing--32);
                padding-left:var(--wp--preset--spacing--32)
            "
        >
            <!-- wp:image {
                "sizeSlug":"large",
                "linkDestination":"custom"
            } -->
            <figure class="wp-block-image size-large">
                <a href="#">
                    <img
                        src="/wp-content/themes/red-acre-test-a-1/modules/theme/frontend/img/blob-blue.png"
                        alt="Trading Calculators"
                    />
                </a>
            </figure>
            <!-- /wp:image -->

            <!-- wp:heading {
                "level":3,
                "textAlign":"center",
                "textColor":"dark-blue",
                "style":{
                    "typography":{
                        "letterSpacing":"0.02em"
                    }
                }
            } -->
            <h3 class="wp-block-heading has-text-align-center has-dark-blue-color has-text-color" style="letter-spacing:0.02em">Trading Calculators</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"align":"center"} -->
            <p class="has-text-align-center">
                Make trading calculations in real-time & forecast the potential growth of your account.
            </p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {
            "layout":{
                "type":"flex",
                "orientation":"vertical",
                "verticalAlignment":"space-between",
                "justifyContent":"center"
            },
            "style":{
                "spacing":{
                    "padding":{
                        "top":"var:preset|spacing|32",
                        "right":"var:preset|spacing|32",
                        "bottom":"var:preset|spacing|32",
                        "left":"var:preset|spacing|32"
                    }
                },
                "border":{
                    "radius":"24px",
                    "color":"#FFFFFF",
                    "width":"4px"
                },
                "layout":{
                    "selfStretch":"fixed",
                    "flexSize":"400px"
                }
            }
        } -->
        <div
            class="wp-block-group has-border-color"
            style="
                border-color:#FFFFFF;
                border-width:4px;
                border-radius:24px;
                padding-top: var(--wp--preset--spacing--32);
                padding-right: var(--wp--preset--spacing--32);
                padding-bottom: var(--wp--preset--spacing--32);
                padding-left: var(--wp--preset--spacing--32)
            "
        >
            <!-- wp:image {
                "sizeSlug":"large",
                "linkDestination":"custom"
            } -->
            <figure class="wp-block-image size-large">
                <a href="#">
                    <img
                        src="/wp-content/themes/red-acre-test-a-1/modules/theme/frontend/img/blob-magenta.png"
                        alt="Educational Resources"
                    />
                </a>
            </figure>
            <!-- /wp:image -->

            <!-- wp:heading {
                "level":3,
                "textAlign":"center",
                "textColor":"dark-blue",
                "style":{
                    "typography":{
                        "letterSpacing":"0.02em"
                    }
                }
            } -->
            <h3 class="wp-block-heading has-text-align-center has-dark-blue-color has-text-color" style="letter-spacing:0.02em">Educational Resources</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"align":"center"} -->
            <p class="has-text-align-center">
                From top tips & trading psychology to more ways to earn, we make learning more fun.
            </p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
